@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0 0 20px 0;
}

p {
  font-size: 1em;
  font-weight: 500;
  margin: 0 0 20px 0;
}

input[type=text] {
  border: 1px solid;
  font-size: 1em;
  font-weight: 500;
  border-radius: 25px;
  padding: 15px;
  margin: 20px 0;
  display: block;
  width: 20em;
  font-family: "IBM Plex Sans", sans-serif;
}

textarea {
  border: 1px solid;
  font-size: 1em;
  font-weight: 500;
  border-radius: 25px;
  padding: 15px;
  margin: 20px 0;
  display: block;
  width: 20em;
  font-family: "IBM Plex Sans", sans-serif;
}

input[type=submit] {
  border: none;
  font-size: 1em;
  font-weight: 500;
  border-radius: 25px;
  padding: 15px;
  overflow: hidden;
  width: 5em;
  margin: 20px 0;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

input[type=checkbox] {
  border: none;
}

/* ######################### */
/* Reusable styles */
/* ######################### */

.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.text-bold {
  font-weight: 700;
}

.text-italic {
  font-style: oblique;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
}

.chip {
  border-radius: 20px;
  overflow: hidden;
  margin: 0 10px 0 0;
  padding: 5px 10px;
}

.text-blue {
  color: #2962ff;
}

.text-orange {
  color: #ff6d00;
}

.gradient-blue {
  background-image: linear-gradient(to right, #0091ea, #2962ff);
  color: #fff;
}

.gradient-orange {
  background-image: linear-gradient(to right, #dd2c00, #ff6d00);
  color: #fff;
}

.gradient-purple {
  background-image: linear-gradient(to right, #6200ea, #aa00ff);
  color: #fff;
}

.gradient-teal {
  background-image: linear-gradient(to right, #00c853, #00bfa5);
  color: #fff;
}

.border-solid {
  border: 2px solid;
}

.border-dashed {
  border: 2px dashed;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
